:root {
    --text: #ffffff;
    --background:	rgb(33, 46, 55);
    --backgroundnav:rgb(43, 55, 67);
}
body {
    background-color: var(--background) !important;
}
nav{
    background-color: var(--backgroundnav) !important;
}
select{
    background-color: var(--backgroundnav) !important;
}
input{
    background-color: var(--backgroundnav) !important;
}
.border{
    background-color: var(--backgroundnav) !important;
}

dt,
dd,
input,
select,
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
a {
    color: var(--text) !important;
}