<template>
  <div class="flex flex-wrap items-center justify-between py-6 px-20">
    <div class="text-black w-2/6 h-10">
      <input
        class="w-full h-full pl-10"
        type="text"
        placeholder="Search for a country.."
      />
    </div>

    <div class="items-center w-1/6 h-10">
      <select class="w-full h-full" id="selectBox" onchange="myFunction();">
        <option >All</option>
        <option value="africa">Africa</option>
        <option>Americas</option>
        <option>Asia</option>
        <option>Europe</option>
        <option>Oceania</option>
      </select>
      <div class="pointer-events-none"></div>
    </div>
  </div>

    <div class="py-2">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <dl
        class="space-y-10 md:space-y-0 md:grid md:grid-cols-4 md:gap-x-8 md:gap-y-10"
      >
      <div v-for="d in country">
        <div class="flex flex-col border mx-10 mb-10" id="flag">
          <img :src= d.flag class="w-full" style="height:150px;" >
          <div class="ml-4">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              {{d.name}}
            </dt>
            <dd class="mt-2 text-base text-black-200">
                Population :
              {{d.population}}
            </dd>
            <dd class="mt-2 text-base text-black-200">
              Region :
              {{d.region}}
            </dd>
            <dd class="mt-2 text-base text-black-200">
              Capital :
              {{d.capital}}
            </dd>
          </div>
        </div>

      </dl>
      </div>
    </div>

</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      themeChanger: null,
      country: null,
      selectedRegion: "",
    };
  },
  methods: {
    fetchCountry() {
      axios.get("https://restcountries.eu/rest/v2/all").then((resp) => {
        this.country = resp.data;
        console.log(this.country[0]);
      });
    },
  },
  
  created() {
    this.fetchCountry();
  },
  computed: {
    filteredCountry() {
      if (this.selectedRegion === "") {
        return this.Country;
      } else {
        const region = this.selectedRegion;
        return this.Country.filter(
          (country) => country.attributes.tog === region
        );
      }
    },
  },
  
};

</script>
