<template>
  <nav class="bg-white">
    <div class="flex flex-wrap items-center justify-between py-4 px-20">
      <div class="text-black">
        <h1>Where in this world?</h1>
      </div>
      <div class="text-black">
        <a @click="darkThemeSwitch">Dark Mode</a>
      </div>
    </div>
  </nav>
</template>

<script>
import themeChanger from "../theme.js";

export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data() {
    return {
      themeChanger: null,
    };
  },
  methods: {
    darkThemeSwitch() {
      this.themeChanger._darkThemeSwitch();
    },
  },
  created() {
    this.themeChanger = new themeChanger();
  },
};
</script>