<template>
  <HelloWorld />
  <Filter />
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import Filter from "./components/Filter.vue";

export default {
  name: "App",
  components: {
    HelloWorld,
    Filter,
  },
};

</script>
